#contacto{
    width: 65%; 
    background: #fff; 
    box-shadow: 0px 2px 9px rgba(0,0,0,0.35); 
    margin:40px auto; 
    border-radius:8px; 
    font-size: 16px; 
    padding: 2% 8%;
}
.ancla{
    color: #333;
}
.ancla:hover{
    color: #333;
    text-decoration: none;   
}
#contacto > hr{
    margin-left: -16%; 
    margin-right: -16%;
}
.icono-contacto{
    border-radius: 50%;
    margin-right: 10px;
    width:40px;
    height:40px;
    background-color: rgba(119,147,60,255);
    box-shadow: -3px -4px 4px rgba(0,0,0,0.15) inset;
    color:white;
    line-height: 40px;
    font-size: 24px;
    transition: .2s all ease;
}
.caja-flexible{
	height: 320px;
    display: flex;          
    flex-direction: column;          
    justify-content: center;    
    align-items: center;          
	box-shadow: 0px 0px 10px rgba(0,0,0,.15) ;
	margin-top: 8px;
    background: rgba(119,147,60,0.32);
    overflow: hidden;
}
.caja-flexible > img {
    width: 40%;
}
.productos{
	width: 20%;
	text-align: center;
}
.productos > a{
	font-size: 16px;
    display: block;
    padding: 10px 30px;
    border: 1px solid rgb(221, 221, 221);
    text-decoration: none;
    color: #47817E;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.nav-tabs> li.active > a{
	background: #C9D787 !important;
    border: 1px solid #BFCC80 !important;    
    text-shadow: 1px 2px 3px rgba(0,0,0,.4);
    color: #fff !important;
}

.texto-portafolio{

    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align: center;
    padding: 16px 32px;
    position: absolute;
    bottom:-900px;
    background:rgba(255,255,255,.85);
}
.texto-portafolio:hover{
    color:black;
    text-decoration: none;
}
.texto-portafolio > h3{
    font-size: 20px;
    font-weight: bolder;
}
.caja-flexible:hover > .texto-portafolio{
    left: 0px;
    right: 0px;
    top:0px;
}
/*.icon-cont{
    display: block;
    height: 100px;
    padding: 10px;
    margin:30px auto ;
    width:100px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease;

}
#id-kit{
    background: url(../images/kit/modificador.png) no-repeat center / 50%;
}
#id-hair{
    background: url(../images/icon-cabello.png) no-repeat center / 200%;
}
#id-cursos{
    background: url(../images/icon-cursos.png) no-repeat center / 155%;
}
#id-beauty{
    background: url(../images/icon-belleza.png) no-repeat center / 145%;
}*/
.icons-hover:hover > div > .icon-cont{
    box-shadow: 0px 0px 0px 10px rgba(246,5,5,0.5);
    transform: scale(1.05,1.05);
    }
#googleMap{
    height: 500px;
    width: 100%;
    margin-top: 30px;
}
/*Estilos Contactanos*/
.main.about{
    margin-bottom: 30px;
    letter-spacing:0.6px;
}
.main.about img{
box-shadow:1px 2px 4px rgba(0,0,0,0.4)
}
.main.about h5, ul{
    font-size: 16px;
    text-align: justify;
}
.main.about .video-btn{
display: block;
width: 50%;
margin:50px auto;
}
.carrousel-cursos{
    margin:10px 0px;
}
.nuevo-curso{
    /*border: 1px solid teal;*/
    border-radius: 5px;
    padding: 10px 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%),url("../images/courses/bkg-curso1.jpg") no-repeat;
    background-size:100%;
    padding-top: 0;
}
/*.nuevo-curso .bgr-inner{
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}*/
.nuevo-curso h1{
    background:rgba(0,128,128,0.7);
    margin: 0;
    color:white;
    padding: 10px 0px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.nuevo-curso ul.lista{
    background:rgba(255,255,255,0.9);
    width: 50%;
    padding:10px 25px;
    font-size: 18px;
    margin-left: -15px;
    color: #eb7f00;
}
.nuevo-curso .precios{
       background:rgba(255,255,255,0.7);
       margin-right:-15px;
       width: 30%;
       float: right;
       margin-bottom: 20px;
}
.nuevo-curso span{
    /*display: inline-block;*/
    text-align: center;
    margin: 0px 20px;
    font-size:16px;
    color: #eb7f00;
}
.nuevo-curso span.precio{
font-size: 24px;
}
.iconos-productos{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}
.iconos-productos .producto-item{
    background: #fff;
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #47817E inset;
}
.iconos-productos .producto-item h3{
    white-space: nowrap;
}
.iconos-productos .producto-item p{
   font-size: 14px;
}
.iconos-productos .producto-item a{
    width: 100%;
}
.iconos-productos .producto-item-icon{
    position: relative;
    overflow: hidden;
    height: 130px;
    width: 130px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
}
.iconos-productos .producto-item-icon:hover{
    box-shadow: 0px 0px 0px 6px rgba(255,0,0,0.4);
}
.iconos-productos .producto-item-icon img{
    position: absolute;
    display: block;
    left:0;
    top:-20%;
    max-width: 100%;
}
.iconos-productos .producto-item-icon.custom-top img{
    width: 130%;
    max-width: initial;
    /*top:10px;*/
}

/*.iconos-productos .producto-item:hover{
    background: red;
}*/
/*.iconos-productos .producto-item:hover a{
    background: red;
}*/
@media screen and (max-width: 768px){
    #contacto{
        width: 95%;
    }
    #contacto > hr{
        margin-left: -10%; 
        margin-right: -10%;   
    }
    .productos > a{
        font-size: 10px;
    }
    .iconos-productos{
        flex-direction: column;
    }
.iconos-productos .producto-item{
    width: 100%;
}
}