#contacto{
    width: 65%; 
    background: #fff; 
    box-shadow: 0px 2px 9px rgba(0,0,0,0.35); 
    margin:40px auto; 
    border-radius:8px; 
    font-size: 16px; 
    padding: 2% 8%;
}
.icono-contacto{
    border-radius: 50%;
    margin-right: 10px;
    width:40px;
    height:40px;
    background-color: rgba(119,147,60,255);
    box-shadow: -3px -4px 4px rgba(0,0,0,0.15) inset, 0px 0px 0px 10px rgba(0,0,0,0.4);
    color:white;
    line-height: 40px;
    font-size: 24px;
}
.icono-contacto:hover{
    box-shadow: -3px -4px 4px rgba(0,0,0,0.15) inset, 0px 0px 0px 10px rgba(0,0,0,0.4);
}
.caja-flexible{
	height: 320px;
    display: flex;          
    flex-direction: column;          
    justify-content: center;    
    align-items: center;          
	box-shadow: 0px 0px 10px rgba(0,0,0,.15) ;
	margin-top: 8px;
    background: rgba(119,147,60,0.32);
    overflow: hidden;
}
.caja-flexible > img {
    width: 40%;
}
.productos{
	width: 33.33%;
	text-align: center;
}
.productos > a{
	font-size: 16px;
    display: block;
    padding: 10px 30px;
    border: 1px solid rgb(221, 221, 221);
    text-decoration: none;
    color: #47817E;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.nav-tabs> li.active > a{
	background: #C9D787 !important;
    border: 1px solid #BFCC80 !important;    
    text-shadow: 1px 2px 3px rgba(0,0,0,.4);
    color: #fff !important;
}

.texto-portafolio{
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align: center;
    padding: 16px 32px;
    position: absolute;
    bottom:-900px;
    background:rgba(255,255,255,.85);
}
.texto-portafolio > h3{
    font-size: 20px;
    font-weight: bolder;
}
.caja-flexible:hover > .texto-portafolio{
    left: 0px;
    top:0px;
}
.icon-cont{
    display: block;
    height: 100px;
    padding: 10px;
    margin:30px auto ;
    width:100px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease;

}
#id-kit{
    background: url(../images/kit/modificador.png) no-repeat center / 50%;
}
#id-hair{
    background: url(../images/icon-cabello.png) no-repeat center / 200%;
}
#id-cursos{
    background: url(../images/icon-cursos.png) no-repeat center / 155%;
}
#id-beauty{
    background: url(../images/icon-belleza.png) no-repeat center / 145%;
}
.icons-hover:hover > div > .icon-cont{
    box-shadow: 0px 0px 0px 10px rgba(246,5,5,0.5);
    transform: scale(1.05,1.05);
    }
#googleMap{
    height: 500px;
    width: 100%;
    margin-top: 30px;
}
/*Estilos Contactanos*/
.main.about{
    margin-bottom: 30px;
    letter-spacing:0.6px;
}
.main.about img{
box-shadow:1px 2px 4px rgba(0,0,0,0.4)
}
.main.about h5, ul{
    font-size: 16px;
    text-align: justify;
}
.main.about .video-btn{
display: block;
width: 50%;
margin:50px auto;
}
